body{
    margin: 0px;
    padding: 0px;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight: 500;
    font-style: normal;
}

p{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: #706482;
    height: 564px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.content{
    background-color: #e6eba9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    margin: 0 auto;
    width: 1635px;
    height: 100%;
    border-radius: 8px;
}

.product{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 10px;
}

.shirt{
    max-width: 280px;
    padding: 10px;
    background-color: white;
}

.especification{
    display: flex;
    justify-content: space-around;
    font-weight: 800;
}
