body{
    margin: 0px;
    padding: 0px;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-size: larger;
    font-weight: 500;
    font-style: normal;
}

p{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: #706482;
    min-height: 564px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.content{
    background-color: #e6eba9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 5rem;
    margin: 0 auto;
    padding: 70px 0px;
    width: 1635px;
    border-radius: 5px;
}

.product{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 310px;
    padding: 10px;
}

.card{
    height: 320px;
}

.picture{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 320px 0px;
    background-color: white;
    width: 310px;
}

.card span{
    position: relative;
    bottom: 316px;
    left: 281px;
    color: #703d6f;
}

.card span:hover{
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.shirt{
    margin: 0;
    text-align: center;
    max-height: 300px;
    padding: 10px;
    background-color: white;
}

.especification{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    font-size: large;
}

.price{
    font-weight: 600;
    font-size: larger;
}

.color{
    color:black;
    font-size: x-large;
}

.especification a{
    color: white;
    background-color: #703d6f;
    border: 2px solid #703d6f;
    border-radius: 5px;
    font-size: larger;
    text-align: center
}

.especification a:link {
    color: white;
}

.especification a:visited {
    color: white;
}

.especification a:focus {
    color: white;
}

.especification a:hover {
    background-color: white;
    cursor: pointer;
    color: #703d6f;
}

.especification a:active {
    color: #703d6f;
}