.container_header{
    background-color: #e6eba9;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
}

.logo{
    max-width: 100px;
    margin-left: 1rem;
}

.nav_top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #703d6f;
}

.navigator{
    font-weight: 700;
    color: #703d6f;
}

.search{
    display: flex;
    align-items: center;
}

#search_button{
    display: flex;
    align-items: center;
    background-color: #703d6f;
    color: white;
    padding: 0.17rem;
    margin-left: 66rem;
    border: solid 0.1rem #703d6f;
    border-radius: 1rem;
} 

#search_button_bar{
    position: absolute;
    display: none;
    align-items: center;
    background-color: #703d6f00;
    color: white;
    margin-left: 46rem;
    border: none;
    z-index: 1;
}

#close_search_bar{
    position: absolute;
    display: none;
    align-items: center;
    background-color: #703d6f00;
    color: white;
    left: 103.8rem;
    border: none;
    z-index: 1;
}

#search_bar{
    display: none;
    background-color: #703d6f;
    color: white;
    padding: 0.25rem;
    margin-left: -1rem;
    border: solid 0.1rem #703d6f;
    border-radius: 1rem;
    margin-left: 46rem;
    width: 17rem;
    border: none;
}

#search_bar[type=text] { 
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#search_bar::placeholder{
    color: white;
}
#search_bar:focus{
    outline: none;
}