body{
    margin: 0px;
    padding: 0px;;
}

*{
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight: 700;
    font-style: normal;
}

.container_header{
    background-color: #e6eba9;
    display: flex;
    align-items: center;
}

.logo{
    max-width: 100px;
    margin-left: 1rem;
}

section{
    background-color: #706482;
    height: 500px;
}

footer{
    height: 250px;
    background-color: #abbb9f;
}

.nav_top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search{
    display: flex;
    align-items: center;
}

#search_button{
    display: flex;
    align-items: center;
    background-color: #703d6f;
    color: white;
    padding: 0.17rem;
    margin-left: 62rem;
    border: solid 0.1rem #703d6f;
    border-radius: 1rem;
    z-index: 1;
} 

#search_button_bar{
    position: absolute;
    display: none;
    align-items: center;
    background-color: #703d6f00;
    color: white;
    padding: 0.17rem;
    margin-left: 42rem;
    border: none;
    z-index: 1;
}

#close_search_bar{
    position: absolute;
    display: none;
    align-items: center;
    background-color: #703d6f00;
    color: white;
    padding: 0.17rem;
    left: 94.8rem;
    border: none;
    z-index: 1;
}

#search_bar{
    display: none;
    background-color: #703d6f;
    color: white;
    padding: 0.25rem;
    margin-left: -1rem;
    border: solid 0.1rem #703d6f;
    border-radius: 1rem;
    margin-left: 41.8rem;
    width: 17rem;
    border: none;
}

#search_bar[type=text] { 
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


#search_bar:focus{
    outline: none;
}